* {
    margin:0;
}
#intro{
 width:100vw;
 height:100vh;
background-color:#1D1A1A;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-pack: distribute;
    justify-content: space-around;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}
#propos{
    -ms-flex-wrap : wrap;
        flex-wrap : wrap;

width:100vw;
height:70vh;
background-color:#1D1A1A;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}
#experience{
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
-webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;

width:100vw;
height:70vh;
background-color:#1D1A1A;

}
#pontfolio{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-align:center;
    -ms-flex-align:center;
        align-items:center;
-webkit-box-orient:vertical;
-webkit-box-direction:normal;
    -ms-flex-direction:column;
        flex-direction:column;    
width:100vw;
height:70vh;
background-color:#1D1A1A;
}
#contact{
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
-webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;

width:100vw;
background-color:#1D1A1A;
}
#footer{
width:100vw;
height:10vh;
background-color:#1D1A1A;
}
#photo{
width:300px;
height:400px;
background-image: url("./IMG-20240606-WA0006.jpg");
background-size: cover;
border:rgb(3, 3, 0) 20px solid;

}
#info{    
display:-webkit-box;    
display:-ms-flexbox;    
display:flex;
-webkit-box-orient:vertical;
-webkit-box-direction:normal;
    -ms-flex-direction:column;
        flex-direction:column;
-webkit-box-align:center;
    -ms-flex-align:center;
        align-items:center;
gap:30px;    
width:50%;
height:40%;
background-color:#1D1A1A;
}
#proposgauche{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-orient:vertical;
-webkit-box-direction:normal;
    -ms-flex-direction:column;
        flex-direction:column;
-webkit-box-align:center;
    -ms-flex-align:center;
        align-items:center;
gap:30px;    
width:50%;
height:80%;
background-color:#1D1A1A;
}
#proposdroite{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-orient:vertical;
-webkit-box-direction:normal;
    -ms-flex-direction:column;
        flex-direction:column;
-webkit-box-align:center;
    -ms-flex-align:center;
        align-items:center;
gap:30px;    
width:50%;
height:80%;
background-color:#1D1A1A;

}
#expgauche{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-orient:vertical;
-webkit-box-direction:normal;
    -ms-flex-direction:column;
        flex-direction:column;
-webkit-box-align:center;
    -ms-flex-align:center;
        align-items:center;
gap:30px;    
width:40%;
height:80%;
background-color:#1D1A1A;
}
#expdroite{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-orient:vertical;
-webkit-box-direction:normal;
    -ms-flex-direction:column;
        flex-direction:column;
-webkit-box-align:center;
    -ms-flex-align:center;
        align-items:center;
gap:30px;    
width: 40%;
height: 80%;
background-color:#1D1A1A;
}
#contactgauche{
display:-webkit-box;
display:-ms-flexbox;
display:flex;

-webkit-box-align:center;

    -ms-flex-align:center;

        align-items:center;
gap:30px;    
width: 30%;
height: 80%;
background-color:#1D1A1A;
}
#contactdroite{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
gap: 10px;
width: 40%;

background-color:#1D1A1A;

}
p {
    font-size:40px;
    font-family:fantasy;
    color:white

}
h1{
    width: 100%;
    color:#EDB92D;
    margin-bottom: 100px;
    margin-top: 50px;
  font-size:60px;
  font-family:fantasy;
  text-align:center;

    
}
button{
width:140px;
height:50px;
border-radius:30px;
background-color:#EDB92D;

}
.image{
    width:30%;
    height:200px;
}
#galerie{
 width:60%;
 height:100%;
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -ms-flex-pack:distribute;
     justify-content:space-around;
 -webkit-box-align:center;
     -ms-flex-align:center;
         align-items:center;
 -ms-flex-wrap:wrap;
     flex-wrap:wrap;

}
#nom{
width:45%;
border-radius:20px;
height:30px;
}
#email{
width:45%;
border-radius:20px;
height:30px;
}
#sujet{
width:100%;
border-radius:20px;
height:30px;
}
#messages{
width:100%;
border-radius:20px;
height:100px;

}    
@media screen and (max-width: 767px) {
    #intro {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: auto; /* Ajustement de la hauteur pour contenir le contenu */
    }
    #info-title {
        font-size: 30px; /* Réduction de la taille du titre */
    }
    #propos, #experience, #portfolio, #contact {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; /* Affichage en colonnes sur les petits écrans */
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; /* Centrage des éléments */
        height: auto; /* Ajustement de la hauteur */
    }
    .image {
        width: 100%; /* Image à largeur maximale pour s'adapter à l'écran */
    }
    #nom, #email, #sujet {
        width: 100%; /* Inputs à largeur maximale sur les petits écrans */
    }
    #messages {
        width: 100%; /* Textarea à largeur maximale */
    }
}
